---
---

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");

// Header

@mixin scale-headers($scale){
    h6{font-size: $base-font-size * $scale};
    h5{font-size: $base-font-size * $scale * $scale};
    h4{font-size: $base-font-size * $scale * $scale * $scale};
    h3{font-size: $base-font-size * $scale * $scale * $scale * $scale};
    h2{font-size: $base-font-size * $scale * $scale * $scale * $scale * $scale};
    h1{font-size: $base-font-size * $scale * $scale * $scale * $scale * $scale * $scale};
}

@mixin uncolor-links{
    a, a:hover, a:visited, a:active {color: $base-font-color;}
}



body, html{
    margin: 0;
}

@include scale-headers(1.2);

h1, h2, h3, h4, h5, h6{
    a, a:hover, a:visited, a:active {color: $base-font-color;}
}



#main-content{
    @include outer-container;
    margin-left: auto;
    margin-right: auto;
}

.navigation-centered {
    padding: .5em;
    margin-bottom: 2em;

    width: 100%;

    // Mobile view
    .logo-title {
        display:inline;
        float: left;
        font-size: 2em;
        font-variant: small-caps;
        margin-bottom: 1rem;
        @include media ($large-screen){
            float: none;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 5em;
        }
    }

    .navigation-centered-mobile-menu {
        float: right;
        padding-top: 1em;
        padding-right: 1em;
        color: $base-font-color;

        @include media ($large-screen) {
            display: none;
        }
    }

    // Nav menu
    .navigation-centered-wrapper {
        @include clearfix;
        @include outer-container;
        position: relative;
    }

    ul.navigation-centered-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;

        &.show {
            display: block;
        }

        @include media ($large-screen) {
            display: block;
            text-align: center;
        }
    }

    // Nav items
    ul li.nav-link {
        display: block;
        text-align: right;

        a {
            display: inline-block;
        }

        &:last-child a {
            padding-right: 0;
        }

        @include media($large-screen) {
            display: inline;

            a {
                padding-right: 1em;
            }
        }
    }
}



// Footer

.wrapper-for-content-outside-of-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

html, body {
    height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
    content: "";
    display: block;
}

.footer, .wrapper-for-content-outside-of-footer:after {
    $large-screen: 50em !default;
    height: 12em;

    @include media($large-screen) {
        height: 4em;
    }
}

.footer {
    $large-screen: 50em !default;

    .footer-logo {
        margin-bottom: 1em;
        margin-right: 1em;
        font-size: 1.5em;
        font-variant: small-caps;

        @include media($large-screen) {
            float: left;
            font-size: 2em;
            margin-bottom: 0;
        }
    }

    ul {
        margin: 0;
        padding-left: 0;

        @include media($large-screen) {
            float: right;
            padding-top: 1em;
        }

        li {
            line-height: 1.5em;
            padding-right: 1em;

            @include media($large-screen) {
                display: inline;
                text-align: left;
            }
        }
    }
}

//FRONT
//hero

.hero {
    padding: 1em;
    background-color: $light-gray;
    width: 100%;
    min-height: 25em;
}

.hero-grid{
    position: relative;
    @include outer-container;
    .hero-chart {
        @include span-columns(1 of 1);
        @include media($medium-screen){
            @include span-columns(9);
        }
    }
    .hero-quote {
        @include span-columns(1 of 1);
        @include uncolor-links;
        text-align: center;
        padding: 1em;
        @include media($medium-screen){
            @include span-columns(3);
            position: absolute;
            top: 50%;
            @include prefixer(transform, translateY(-50%));
            right: 1em;
        }
    }
}


// Vertical Tabs

.vertical-tabs-container {

    @include clearfix;

    .vertical-tabs {
        display: none;

        @include media($medium-screen) {
            display: inline;
            float: left;
            width: 20%;
        }
    }

    .vertical-tab {
        @include media($medium-screen) {
            color: $action-color;
            background-color: white;
            border-left: 1px solid $action-color;
            border-top: 1px solid $action-color;
            &:last-child {
                border-bottom: 1px solid $action-color;
            }


            padding: 1em;
            display: block;


            &.is-active {
                font-weight: bolder;
                color: white;
                background-color: $action-color;
            }
        }
    }

    .vertical-tab-content-container {
        display: block;
        margin-bottom: 1em;

        @include media($medium-screen) {
            border: 1px solid $action-color;
            width: 80%;

            display: inline-block;
        }
    }

    .vertical-tab-content {
        @include media($medium-screen) {
            display: none;
        }
        p {padding: .5em;}
        table{
            table-layout: auto;
            margin: 0;
            th, td{
                padding-left: .5em;
                &:last-child{
                    padding-left: 0;
                }
            }
        };

    }

    .vertical-tab-accordion-heading {
        cursor: pointer;
        display: block;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: bold;
        color: $action-color;
        background-color: white;
        border: 1px solid $action-color;
        &.is-active {
            color: white;
            background-color: $action-color;
            font-weight: bolder;
        }

        @include media($medium-screen) {
            display: none;
        }
    }
}

// Based on code by Jett Miller jettmiller.net

// Cards
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
        flex-basis:25em;
        flex-grow: 1;
        margin: 0 1em;
    }

    .card-image {
        min-height: 20em;
        overflow: hidden;

        img, iframe{
            width: 100%;
        }
    }
}

#about-text {
    @include span-columns(1 of 1);
    @include media($medium-screen){
        @include span-columns(8 of 12);
    }
}
#mc_embed_signup {
    @include span-columns(1 of 1);
    @include media($medium-screen){
        @include span-columns(4 of 12);
    }
}

.plotly{
    width: 100%;
    height: 25em;
    border: none;
}
