.cards {
    @include uncolor-links;
    @include outer-container;
    max-width: 60rem;
    .card {
        @include card;
        margin-bottom: 5em;
    }

    .card-image {
        img, iframe, svg{
            width: 100%;
        }
    }
}
