$large-screen-footer-size: 4rem;
.wrapper-for-content-outside-of-footer {
    padding-top: 4em;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1 * $large-screen-footer-size;
}

html, body {
    height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
    content: "";
    display: block;
}

.footer, .wrapper-for-content-outside-of-footer:after {
    height: 16rem;
    @include media($large-screen) {
        height: $large-screen-footer-size;
    }
}

.footer {
    background-color: $dark-gray;
    color: white;
    padding: 1rem;
    @include uncolor-links(white);
     
    #footer-description{
        line-height: 2em;
        margin: 0;
        padding: 0;
        @include media($large-screen) {
            float: left;
        }
        img {
            height: 2em;
            width: 12em;
            vertical-align: middle;
        }
    }

    ul {
        @include media($large-screen){
            display: block;
            float: right;
            padding-top: .25rem;
            padding-bottom: .25rem;
            margin-right: -.5rem;
        }
        li{
            margin-top: 1em;
            display: block;
            width: 100%;
            text-align: left;
            @include media($large-screen){
                margin-top: 0;
                display: inline;
                float: none;
            }
            a {
                display: block;
                @include media($large-screen){
                    display: inline;
                    padding: 0 .5rem;
                }
            }
        }
    }
}

