#site-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: $action-color;
    color: white;
    padding: .5em;
    @include uncolor-links(white);
}

#header-title{
    float: left;
    h1{
        display:inline;
    }
    p {
        margin: 0;
    }
    img {
        height: 2em;
        width: 12em;
        vertical-align: middle;
    }
}

#nav-expander{
    position: absolute;
    top: 1.75em;
    right: .5em;
    a{
        padding: .5em;
    }
    @include media($large-screen){
        display: none;
    }
}

#nav-links{
    width: 100%;
    position: absolute;
    top: 5em;
    right: 0;
    background-color: $action-color;
    @include media($large-screen){
        display: block;
        top: 1.75em;
        width: auto;
    }

    &.hide{
        display: none;
        @include media($large-screen){
            display: block;
        }
    }


    li{
        display: block;
        width: 100%;
        text-align: right;
        float: right;
        padding-top: .25em;
        padding-bottom: .25em;
        @include media($large-screen){
            display: inline;
            float: none;
        }
        a {
            padding: .5em;
        }
    }
}
