<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if page.title %}
    <title>Quantgov&mdash;{{page.title}}</title>
    {% else %}
    <title>Quantgov</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
  </head>
  <body>
    <div class="wrapper-for-content-outside-of-footer">
      <header id="site-header">
        <div id="header-title">
        <h1 class="logo"><a href="{{site.url}}">QuantGov</a></h1>
        </div>
        <nav id="site-nav">
        <span id="nav-expander"><a class="fa fa-bars"></a></span>
        <ul id="nav-links" class="hide">
          <li><a href="{{site.url}}/about">About</a></li>
          <li><a href="{{site.url}}/posts">Charts</a></li>
          <li><a href="{{site.url}}/research">Research</a></li>
          <li><a href="{{site.url}}/data">Data</a></li>
          <li><a href="{{site.url}}/platform">Platform</a></li>
          <li>
          <form id="site-search" action="{{site.url}}/search">
            <input name="q" id="searchbox"></input><button type="submit"><span class="fa fa-search"></span></button>
          </form>
          </li>
        </ul>
        </nav>

      </header>

      {{content}}
    </div>
    <footer class="footer" role="contentinfo">
      <p id="footer-description">A project of <a href="http://mercatus.org" target="_blank"><img src="{{site.url}}/resources/logo.svg"></img></a></p>
      <ul>
        <li><a href="{{site.url}}/about">About</a></li>
        <li><a href="{{site.url}}/posts">Charts</a></li>
        <li><a href="{{site.url}}/research">Research</a></li>
        <li><a href="{{site.url}}/data">Data</a></li>
        <li><a href="{{site.url}}/platform">Platform</a></li>
      </ul>
    </footer>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-86588008-1','auto');ga('send','pageview')
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript'>$.each(q,function(index,f){$(f)});</script>
    <script src="{{site.url}}/js/main.js"></script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cse.google.com/cse.js?cx=009747869241233263593:zxwhz8sjk3a" async></script>
  </body>
</html>
