---
layout: page
title:  The QuantGov Platform
---

{{content}}

<h2>Components</h2>
<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    {% assign last = "" %}
    {% for line in site.data.components %}
    {% if line.type != last %}

    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab " rel="{{line.type | slugify}}"><span class="fa fa-folder fa-lg"></span>&nbsp;{{line.type}}</a>
    {% assign last = line.type %}
    {% endif %}
    {% endfor %}
  </div>

  <div class="vertical-tab-content-container">
    {% assign last = "" %}
    {% for line in site.data.components %}
    {% if line.type != last %}
    {% unless last == "" %}
    </table>
  </div>
  {% endunless %}
  <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="{{line.type | slugify }}">{{line.type}}</a>
  <div id="{{line.type | slugify}}" class="js-vertical-tab-content vertical-tab-content">
    <table>
      <tr><th>File</th><th>Description</th><th></th><th></th></tr>
      {% assign last = line.type %}
      {% endif %}
      <tr><td><span class="fa fa-code-fork fa-lg"></span>&nbsp;{{line.component}}</td><td>{{line.description}}</td><td><a href="{{line.url}}" class="fa fa-download fa-lg"></a><td><a href="{{line.repository}}" class="fa fa-github fa-lg"><td></td></tr>
      {% endfor %}
    </table>
  </div>
</div>
